<div class="space-stack-xxl">
  <p>Primary</p>
  <a class="button" href="#">Primary</a>
  <p>Secondary</p>
  <a class="button secondary" href="#">Secondary</a>
  <p>Button Groups</p>
  <a class="button" href="#">Button</a>
  <a class="button" href="#">Button</a>
  <a class="button" href="#" disabled>Disabled</a>
  <p>Submit and Cancel</p>
  <a class="button" href="#">Submit</a>
  <a class="button cancel" href="#">Cancel</a>
  <p>Menu Buttons</p>
  <a class="button" href="#">Btn</a>
  <a class="button" href="#">Btn</a>
  <p>Split Buttons (like the arrow dropdowns on Marsh.com)</p>
  <a class="button" href="#">Button</a>
  <a class="button" href="#">Button</a>
  <a class="button" href="#">Button</a>
  <p>Floating Action Button :: <a href="https://material.io/design/components/buttons-floating-action-button.html#usage">example</a></p>
  <a class="button" href="#">Button</a>
  <p>Sizing</p>
  <a class="button tiny" href="#">So Tiny</a>
  <a class="button small" href="#">So Small</a>
  <a class="button" href="#">So Basic</a>
  <a class="button large" href="#">So Large</a>
  <a class="button expanded" href="#">Such Expand</a>
  <a class="button small expanded" href="#">Wow, Small Expand</a>
  <p>Coloring</p>
  <a class="button primary" href="#">Primary</a>
  <a class="button secondary" href="#">Secondary</a>
  <a class="button success" href="#">Success</a>
  <a class="button alert" href="#">Alert</a>
  <a class="button warning" href="#">Warning</a>
</div>
