$tds-spacing-base:4; // 4px
$tds-space-xxxs: 2px;
$tds-space-xxs: 4px;
$tds-space-xs: 8px;
$tds-space-s: 16px;
$tds-space-ms: 24px;
$tds-space-m: 32px;
$tds-space-ml: 40px;
$tds-space-l: 52px;
$tds-space-xl: 80px;
$tds-space-xxl: 120px;
$tds-space-xxxl: 220px;
