// Perfect fifth
$tds-space-xxxs: 2px;
$tds-space-xxs: 4px;
$tds-space-xs: 8px;
$tds-space-s: 10px;
$tds-space-m: 16px;
$tds-space-ml: 24px;
$tds-space-l: 36px;
$tds-space-xl: 54px;
$tds-space-xxl: 80px;
$tds-space-xxxl: 120px;