* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

html, body {
    background-color: #eeedf3;
    @include mq('dark mode') {
        // background-color:$color-grey-900;
    }
}
:focus,
:focus-visible {

}
select, input, textarea {
    @include transition(box-shadow, $transition-speed-fast);
}