@mixin font-mix($font, $weight) {
	$font-family: $font + $weight, $font-family-fallbacks;
	font-family: $font-family;
	font-weight: normal;
}

@mixin font-split($size, $family) {
	font-weight: normal;
	font-size: rem-calc($size);
	font-family: $family;
}