.v-content-block--homepage {
    // @include boxIt;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    @include break('tablet') {
        flex-direction: row;
    }
    .tds-content-block {
        &__img-container {
            width: initial;
            @include break('tablet') {
                width: 35%;
            }
        }
        &__header-img {
            border-radius: 3px;
            box-shadow:
                2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                100px 100px 80px rgba(0, 0, 0, 0.07);
                @include break('tablet') {
                    border-radius: 6px;
                    width: 100%;
                }
        }
        &__eyebrow {}
        &__eyebrow-text {}
        &__body {
            padding-left: $tds-space-m;
            padding-right: $tds-space-m;
            @include break('tablet') {
                padding: 0;
                width: 60%;
            }
        }
        &__body-title {
            h1 {
                @include tds--typo('display');
                background-color: white;
                padding: $tds-space-m;
                display: inline-block;
                border-radius: 4px;                
                // text-shadow: 1px 1px 0 salmon;
                word-break: break-all;
                @include break('tablet') {
                    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
                    background-color: transparent;
                    padding: 0;
                    display: initial;
                    word-break: break-all;
                }
            }
            // border-bottom: 1.5px dashed salmon;
            padding-bottom: $tds-space-m;
            margin-block-end: $tds-space-m;            
            margin-top: -15vw;
            padding-top: 0;            
            @include break('tablet') {                
                margin-top: 0;
                margin-left: -18%;
                padding-top: $tds-space-xxl;
                padding-bottom: $tds-space-l;
                margin-block-end: $tds-space-l;
            }            
        }
        &__body-text {
            p, p a {
                @include tds--typo('para ml');
            }
            position: relative;            
            &:after {
                content: '';
                width: 20%;
                height: 1px;
                position: absolute;
                top: -($tds-space-xxl + 6);
                left: 0;
                padding-bottom: $tds-space-l;
                border-bottom: 1.5px dashed #ffffff;
                display: none;
                @include break('tablet') {
                    display: initial;
                }
            }
        }
        &__footer {}
        &__footer-action-container {}
        &__footer-action {}
    }
}