.v-content-block--text {
    .tds-content-block {
        &__img-container {}
        &__header-img {
            width: 100%;
        }
        &__eyebrow {}
        &__eyebrow-text {}
        &__body {}
        &__body-title {
            span, h3 {
                @include transition(color $transition-speed-medium);
            }
        }
        &__body-text {}
        &__footer {}
        &__footer-action-container {}
        &__footer-action {}        
    }
    &:hover {
        .tds-content-block__body-title {
            span {
                color: black;
            }
            h3 {
                color: $color-accent;
            }
        }    
    }
}