.v-content-block--homepage {
    // @include boxIt;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    @include break('tablet') {
        flex-direction: row;
    }
    .tds-content-block {
        &__img-container {
            width: initial;
            @include break('tablet') {
                width: 35%;
            }
        }
        &__header-img {
            border-radius: 3px;
            box-shadow:
                2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                100px 100px 80px rgba(0, 0, 0, 0.07);
                width: 100%;
                @include break('tablet') {
                    border-radius: 6px;
                    width: 100%;
                }
                @media screen and (prefers-reduced-motion: no-preference) {
                    animation: fadeIn;
                    animation-timing-function: linear;
                    animation-fill-mode: forwards;
                    animation-direction: normal;
                    animation-iteration-count: 1;
                    animation-duration: .5s;
                    animation-delay: 0;
                }
        }
        &__eyebrow {}
        &__eyebrow-text {}
        &__body {
            padding-left: $tds-space-ms;
            padding-right: $tds-space-ms;
            @include break('tablet') {
                padding: 0;
                width: 60%;
            }
        }
        &__body-title {
            h1 {
                position: relative;
                z-index: 5;
                @include tds--typo('display');
                background-color: white;
                padding: $tds-space-m;                
                border-radius: 4px;
                // word-break: break-all;
                display: block;
                @include break('tablet') {
                    display: inline-block;
                    // text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
                    background-color: transparent;
                    padding: 0;
                    display: initial;
                    // word-break: break-all;
                }
            }
            br {
                &:nth-of-type(2) {
                    @include break('tablet') {
                        display: none;
                    }
                }                
            }
            // border-bottom: 1.5px dashed salmon;
            padding-bottom: $tds-space-m;
            margin-block-end: $tds-space-m;            
            margin-top: -15vw;
            padding-top: 0;            
            @include break('tablet') {                
                margin-top: 0;
                margin-left: initial;
                transform: translateX(-18%);
                padding-top: $tds-space-xxl;
                padding-bottom: $tds-space-m;
                margin-block-end: $tds-space-m;
                @media screen and (prefers-reduced-motion: no-preference) {
                    opacity: 0;
                    animation: homeTextAnim, fadeIn;
                    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
                    animation-fill-mode: forwards;
                    animation-direction: normal;
                    animation-iteration-count: 1;
                    animation-duration: 1.5s;
                    animation-delay: .35s;
                }
            }
            .tds-color--accent {
            }
        }
        &__body-text {
            p, p a {
                @include tds--typo('para ml');
            }
            h2 {
                font-size: $tds-font-size-l + 12;
                line-height: 1.15;
                color: $color-accent;
                font-weight: 200;
            }
            position: relative;            
            a {
                text-decoration: none;
                display: inline-block;
                position: relative;
                &:after {
                    background-color: $color-accent;
                    content: '';
                    position: absolute;
                    bottom:9px;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 1.5px;
                    @include transition(background-color $transition-speed-medium);
                }
                @include transition(color $transition-speed-medium);
                // &:link {
                //     color: black;
                // }
                // &:active {
                //     color: black;
                // }
                &:hover {
                    color: $color-accent;
                    &:after {
                        background-color: $color-accent;
                    }
                }
            }
            @media screen and (prefers-reduced-motion: no-preference) {
                opacity: 0;
                animation: fadeIn;
                animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
                animation-fill-mode: forwards;
                animation-direction: normal;
                animation-iteration-count: 1;
                animation-duration: 2s;
                animation-delay: .75s;
            }
        }
        &__footer {}
        &__footer-action-container {}
        &__footer-action {}
    }
}
