<div class="tds-content-block">
  <div class="tds-content-block__header">
    <div class="tds-content-block__img-container">
      <img class="fit-picture" src="assets/img/tim-sit.jpg" alt="Tim is sitting and looking at you with his best Buddha smile.">
    </div>
  </div>
  <div class="tds-content-block__body">
    <div class="tds-content-block__title"></div>
    <div class="tds-content-block__text"></div>
  </div>
  <div class="tds-content-block__footer">
    <div class="tds-content-block__action-container">
      <a class="tds-content-block__action" href=""></a>
    </div>
  </div>
</div>