<div class="tds-content-block {{class}}">
  {{#if img-src}}
  <div class="tds-content-block__header">    
    <div class="tds-content-block__img-container">
      <img class="fit-picture" src={{img-src}} alt="Tim is sitting and looking at you with his best Buddha smile.">
    </div>
  </div>
  {{/if}}
  <div class="tds-content-block__body">
    <div class="tds-content-block__title">{{title}}</div>
    <div class="tds-content-block__text">{{description}}</div>
  </div>
  <div class="tds-content-block__footer">
    <div class="tds-content-block__action-container">
      <a class="tds-content-block__action" href=""></a>
    </div>
  </div>
</div>