$tp-main-nav-float-space:2rem;

.tp-masthead {
  height:auto;
  @include breakpoint(medium down) {
    height:40px;
    text-align: center;
    z-index:100;
    position: relative;
  }
  .active {
    cursor: default;
    pointer-events: none;
  }
}
.tp-home-logo {
  float: left;
  font-family: $font-family-two;
  font-size: $global-font-size-l * 1.25;
  text-transform:none;
  color: $secondary-color;
  padding:.45rem 0 0 0;
  margin-left:1rem;
  // margin-top:36px;
  position: relative;
  @include breakpoint(large up) {
    margin-top:$tp-main-nav-float-space;
  }
  @include breakpoint(medium down) {
    font-size: $global-font-size-xl * .6;
    padding:.25rem;
    margin:0 auto;
    float: none;
    display: inline-block;
    margin-left: .25rem;
  }

  &:hover {
    color:inherit;
  }
}

.mobile-brgr {
  position: absolute;
  right:5px;
  top:0px;
  z-index:200;
  .mobile-brgr--button {
    text-indent:-9999px;
    overflow: hidden;
    display:block;
    width:40px;
    height:40px;
    background-image:url('/assets/img/icons/brgr.svg');
    background-repeat: no-repeat;
    background-position:8px;
    background-size:20px;
  }
}
.mobile-more {
  position: absolute;
  left:5px;
  top:0px;
  z-index:200;
  .mobile-more--button {
    text-indent:-9999px;
    overflow: hidden;
    display:block;
    width:40px;
    height:40px;
    background-image:url('/assets/img/icons/more.svg');
    background-repeat: no-repeat;
    background-position:8px;
    background-size:20px;
  }
}

.tp-main-nav {
  @extend .clearfix;

  .tp-main-nav--list {
    float: right;
    margin:0 1.5rem;
  }
  .tp-main-nav--list-item {
    display: inline-block;
    margin-left:1.25rem;

  }
  .tp-main-nav--list-anchor {
    font-family: $font-family-two;
    font-size: $global-font-size-l * 1.25;
    display: inline-block;
    vertical-align: middle;
    padding: .45rem 0rem .25rem 0;
    color: $secondary-color;
    position: relative;
    z-index:2;
    overflow: hidden;
    @include breakpoint(large up) {
      margin-top:$tp-main-nav-float-space;
    }
    &:after {
      content: '';
    	position: absolute;
    	z-index: -1;
    	width: 0;
    	height: 3px;
    	bottom: 0px;
    	left: 50%;
    	background: $secondary-color;
      @include transition-mixin(left $trans-speed-rapid, width $trans-speed-rapid);
    }
    &:hover, &.active {
      &:after {
      	width:100%;
        left:0;
      }
    }
  }
}

.tp-secondary-nav {
  width:100%;
  background-color: $secondary-color-dark;
  z-index:100;
  position: relative;
  @include breakpoint(large up) {
    position: absolute;
    top:0;
  }
  @include transition-mixin(background-color $trans-speed);
  &:hover {
    background-color:$bar-color;
    .tp-secondary-nav--list-anchor {
      color: scale-color($secondary-color, $lightness: 25%);
    }
  }
  .tp-secondary-nav--list {
    margin:0 1.5rem 0 0;
    text-align: right;
  }
  .tp-secondary-nav--list-item {
    display: inline-block;
    margin:0;
  }
  .tp-secondary-nav--list-anchor {
    font-size: $global-font-size-m * .85;
    display: inline-block;
    vertical-align: middle;
    padding: .5rem .5rem .5rem 1.45rem;
    color: scale-color($secondary-color, $lightness: 80%);
    &:hover {
      color: scale-color($secondary-color, $lightness: 0%);
    }
    background-repeat: no-repeat;
    background-position:0 -20px;
    @include transition-mixin(color $trans-speed, background-position $trans-speed-rapid);
    &.twitter-icon {
      background-image:url('/assets/img/icons/social/twitter.svg');
      background-size:16px 16px;
      background-position:4px -20px;
      &:hover {
        background-position:4px 11px;
      }
    }
    &.mixcloud-icon {
      background-image:url('/assets/img/icons/social/mixcloud.svg');
      background-size:20px 20px;
      background-position:0px -20px;
      &:hover {
        background-position:0 8px;
      }
    }
    &.soundcloud-icon {
      background-image:url('/assets/img/icons/social/soundcloud.svg');
      background-size:20px 20px;
      background-position:0px -20px;
      &:hover {
        background-position:0 8px;
      }
    }
    &.linkedin-icon {
      background-image:url('/assets/img/icons/social/linkedin.svg');
      background-size:16px 16px;
      background-position:2px -20px;
      &:hover {
        background-position:2px 9px;
      }
    }
    &.blog-icon {
      background-image:url('/assets/img/icons/social/blog.svg');
      background-size:20px 20px;
      background-position:2px -20px;
      &:hover {
        background-position:2px 7px;
      }
    }
    &.dribbble-icon {
      background-image:url('/assets/img/icons/social/dribbble.svg');
      background-size:16px 16px;
      background-position:3px -20px;
      &:hover {
        background-position:3px 9px;
      }
    }
    &.d3-icon {
      background-image:url('/assets/img/icons/social/d3.svg');
      background-size:16px 16px;
      background-position:3px -20px;
      &:hover {
        background-position:3px 9px;
      }
    }
  }
}





@include breakpoint(medium down) {
  .tp-main-nav {
    text-align: center;
    background-color:$bar-color;
    padding-bottom:1rem;
    .tp-home-logo {
      // margin:0 auto;
      // float: none;
      // display: inline-block;
      // font-size: $global-font-size-xl;
      &:after {}
      &:hover {}
    }
    .tp-main-nav--list {
      float: none;
      width:100%;
      clear: both;
      margin:0;
    }
    .tp-main-nav--list-item {
      margin-left: 0rem;
      margin-right: 0rem;
      display: block;
      width:100%;
      text-align: center;
    }
    .tp-main-nav--list-anchor {
      &:after {}
      &:hover, &.active {
        &:after {}
      }
    }
  }
}


@include breakpoint(medium down) {
  .tp-secondary-nav {
    .tp-secondary-nav--list {
      text-align: center;
      padding-bottom:.25rem;
      margin:0;
    }
    .tp-secondary-nav--list-item {
      display: block;
      width: 100%;
      &:first-of-type {
        .tp-secondary-nav--list-anchor {
          border-top:none;
        }
      }
    }
    .tp-secondary-nav--list-anchor {
      padding: .5rem 1.45rem .5rem 1.45rem;
      border-top:1px solid scale-color($secondary-color, $lightness:5%);
      display: block;
    }
  }
}

@include breakpoint(small down) {
  .tp-secondary-nav {
    .tp-secondary-nav--list {}
    .tp-secondary-nav--list-item {}
    .tp-secondary-nav--list-anchor {}
  }
}

// .tp-icon-list-nav {
//   .tp-icon-list-nav--list {
//     text-align: left;
//     margin:0;
//   }
//   .tp-icon-list-nav--list-item {
//     display: inline-block;
//     vertical-align: middle;
//     height:40px;
//   }
//   .tp-icon-list-nav--list-anchor {
//     padding: $space-xs $space-s;
//     font-size: $global-font-size-s;
//     position: relative;
//     display: block;
//   }
// }
//
// .tp-icon-text {}



.seconday-nav--js-icon {
  display: block;
  background-color: red;
}
