.tp-link {
  font-family: $font-family-two;
  padding:.5rem 0 0 .5rem;
  display: inline-block;
  font-size: 1.15rem;
  line-height: 1;
  @include transition-mixin(color $trans-speed-rapid);
  &:after {
    content: '';
    display: inline-block;
    margin-left: .5rem;
    width: 30px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-image: url('/assets/img/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px 5px;
    @include transition-mixin(background-position $trans-speed-rapid);
  }
  &:hover {
    color:$complimentary-color;
    &:after {
      background-position: 10px 5px;
    }
  }
}
