.l-padding--top-xl {
    padding-top: $tds-space-ml;
    @include break('tablet') {
        padding-top: $tds-space-xxl;
    }
}

.l-padding--top-l {
    padding-top: 6vh;
    @include break('tablet') {
        padding-top: $tds-space-xxl;
    }
}

.tds-color--accent {
    color: $color-accent;
}