.l-padding--top-xl {
    padding-top: 4vh;
    @include break('tablet') {
        padding-top: 8vh;
    }
}

.l-padding--top-l {
    padding-top: 1.5vh;
    @include break('tablet') {
        padding-top: 3vh;
    }
}

.tds-color--accent {
    color: $color-accent;
}