.tds-video-block {
    padding: 0 0 10vh 0;
    &__container {}
    &__embed-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius:6px;
        opacity: 0;
        @media screen and (prefers-reduced-motion: no-preference) {
            animation: fadeIn;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-direction: normal;
            animation-iteration-count: 1;
            animation-duration: .5s;
            animation-delay: .5s;
        }
    }
    &__body-container {
        padding: $tds-space-ml 0;
        max-width: $slimWidth;
        margin: 0 auto;    
    }
    &__label {
        color: $color-accent;
    }
    &__title {
        @include tds--typo('h3');
    }
    &__description {
        p {
            margin-block-start: $tds-space-s;
        }
    }
}


