<div class="grid-container">
  <div class="grid-x">
    <div class="large-12 cell">
      <div class="label">
        <p>12 Column</p>
      </div>
    </div>
    <div class="large-6 medium-6 cell">
      <div class="label">
        <p>6 Column</p>
      </div>
    </div>
    <div class="large-6 medium-6 cell">
      <div class="label">
        <p>6 Column</p>
      </div>
    </div>
    <div class="large-4 medium-4 small-4 cell">
      <div class="label">
        <p>4 Column</p>
      </div>
    </div>
    <div class="large-4 medium-4 small-4 cell">
      <div class="label">
        <p>4 Column</p>
      </div>
    </div>
    <div class="large-4 medium-4 small-4 cell">
      <div class="label">
        <p>4 Column</p>
      </div>
    </div>
    <div class="large-8 cell">
      <div class="label">
        <p>8 Column</p>
      </div>
    </div>
    <div class="large-4 cell">
      <div class="label">
        <p>4 Column</p>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x">
    <div class="large-8 large-offset-2 cell">
      <div class="label">
        <p>8 Column Centered</p>
      </div>
    </div>
  </div>
</div>
