<footer>
    <ul>
        <li>
        <a target="_blank" href="//www.linkedin.com/in/schletter" class="linkedin-icon">linkedin</a>
        </li>
        <li>
        <a target="_blank" href="//bl.ocks.org/timproDev" class="d3-icon">bl.ocks</a>
        </li>
        <li>
        <a target="_blank" href="//dribbble.com/timprovise" class="dribbble-icon">dribbble</a>
        </li>
        <li>
        <a target="_blank" href="//www.mixcloud.com/timprovise/uploads/" class="mixcloud-icon">mixcloud</a>
        </li>
        <li>
        <a target="_blank" href="//soundcloud.com/timschletter" class="soundcloud-icon">soundcloud</a>
        </li>
        <li>
            <a target="_blank" href="//open.spotify.com/artist/53GjlWQn6G6ubKGEbB4Wu0?si=HzegcA8dQCq3efX7enyhxQ" class="soundcloud-icon">spofity</a>
        </li>        
    </ul>
    </div>
</footer>