<div class="media-block">
  <a href="https://www.marsh.com/us/campaigns/captive-report-2018.html" target="_blank">
  <div class="media-block--container">
    <div class="media-block--image-container">
      <img class="media-block--image" src="{{root}}assets/img/data-visualization/captives-scorecard-full.jpg">
    </div>
    <div class="space-stack-xl"></div>
    <div class="media-block--body-container">
      <h1 class="media-block--title">Captives Scorecard</h1>
      <p class="media-block--description">Marsh's Captives business teams requested an interactive mode of communicating complex data in a quick and digestible way. This <i>scorecar</i> is a combo mini dashboard and infographic.</p>
    </div>
  </div>
  </a>
</div>
