<div class="content-block">
  <div class="content-block--container">
    <div class="content-block--body-container">
      <div class="content-block--button-container">
        <a target="_blank" href="//www.linkedin.com/in/schletter" class="content-block--button">LinkedIn</a>
        <a target="_blank" href="//bl.ocks.org/timproDev" class="content-block--button">Bl.ocks</a>
        <a target="_blank" href="//dribbble.com/timprovise" class="content-block--button">Dribbble</a>
        <a target="_blank" href="//timprodev.github.io/" class="content-block--button">My Blog</a>
        <a target="_blank" href="//twitter.com/MomAndDadsSon" class="content-block--button">Twitter</a>
        <a target="_blank" href="//www.mixcloud.com/timprovise/uploads/" class="content-block--button">Mixcloud</a>
        <a target="_blank" href="//soundcloud.com/timschletter" class="content-block--button">SoundCloud</a>
      </div>
    </div>
  </div>
</div>
