<div class="tp-audio-block">
  <div class="tp-audio-block--container">
    <div class="tp-audio-block--image-container">
      <img class="tp-audio-block--image" src="{{root}}{{image-src}}">
    </div>
    <div class="tp-audio-block--body-container">
      <span class="tp-audio-block--label">{{label-text}}</span>
      <h1 class="tp-audio-block--title">{{title}}</h1>
      <p class="tp-audio-block--description">{{description}}</p>
    </div>
    <div class="tp-audio-block--embed-container">
      {{embed-code}}
    </div>
  </div>
</div>
