<div class="tp-callout-block">
  <div class="tp-callout-block--container">
    <div class="tp-callout-block--image-container">
      <img class="tp-callout-block--image" src="{{root}}{{image-src}}">
    </div>
    <div class="tp-callout-block--body-container">
      <span class="tp-callout-block--label">{{label-text}}</span>
      <h1 class="tp-callout-block--title">{{title}}</h1>
      <p class="tp-callout-block--description">{{description}}</p>
    </div>
    <div class="tp-callout-block--button-container">
      <a class="tp-callout-block--button" href="{{button-url}} target="_blank">{{button-text}}</a>
    </div>
  </div>
</div>
