<div class="tp-leadin-block {{class}}">
  <a href="{{url}}" target="{{target}}">
  <div class="tp-leadin-block--container">
    <div class="tp-leadin-block--image-container">
      <img class="tp-leadin-block--image" src="{{root}}{{image-path}}">
    </div>
    <div class="space-stack-xl"></div>
    <div class="tp-leadin-block--body-container">
      <h1 class="tp-leadin-block--title">{{title}}</h1>
      <p class="tp-leadin-block--description">{{description}}</p>
    </div>
  </div>
  </a>
</div>
