<div class="tp-media-block tp-media-block_new-window">
  <a href="{{url}}" target="_blank">
  <div class="tp-media-block--container">
    <div class="tp-media-block--image-container">
      <img class="tp-media-block--image" src="{{root}}{{image-path}}">
    </div>
    <div class="space-stack-xl"></div>
    <div class="tp-media-block--body-container">
      <h1 class="tp-media-block--title">{{title}}</h1>
      <p class="tp-media-block--description">{{description}}</p>
    </div>
  </div>
  </a>
</div>
