<div class="space-stack-xxl">
  <ul>
      <li>This is a list item</li>
      <li>So is this - there could be more</li>
      <li>Make sure to style list items to:
          <ul>
              <li>Not forgetting child list items</li>
              <li>Not forgetting child list items</li>
              <li>Not forgetting child list items</li>
              <li>Not forgetting child list items</li>
          </ul>
      </li>
      <li>A couple more</li>
      <li>top level list items</li>
  </ul>
  <ul class="mx-lst-square">
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
  </ul>
  <ul class="mx-lst-circle">
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
      <li>Not forgetting child list items</li>
  </ul>
</div>
