// determine what is theme
// use as many settings variables as you can
// https://vmware.github.io/clarity/documentation/v0.13/cards#top

// Base and State remain in Parent CSS Module
// Variations and Themes are imported

////////////
/// BASE ///
////////////

.timp-contentcard {
  // container
  .timp-contentcard--container {
    background-color:$white;
    border-radius: $card-border-radius;
    border: $card-border;
  }
  // header
  .timp-contentcard--header {
    @include space-inset(m);
    border-bottom: 1px solid rgba(50,66,74,.2);
  }
  .timp-contentcard--header-text {
    padding:0;
    margin:0;
  }
  // label
	.timp-contentcard--label-container {
    @include space-inset(m);
  }
  // image
	.timp-contentcard--image-container {
    @include space-stack(m)
    display:none;
  }
	.timp-contentcard--image {
    width:100%;
    &.timp-icon {
      width:$space-xl;
    }
  }
  // body
	.timp-contentcard--body-container {
    @include space-inset-horiz(m);
  }
  // title
	.timp-contentcard--title {
    @include space-stack(m);
    font-size: $global-font-size-l;
    line-height: $global-lineheight-s;
    color:$primary-color;
  }
  // description
	.timp-contentcard--description {
    @include space-stack(m);
  }
  // button
	.timp-contentcard--button-container {
    @include space-inset-horiz(m);
  }
  // footer
	.timp-contentcard--footer	{
    @include space-inset-horiz(m);
  }
  // meta
	.timp-contentcard--metadata	{
    color:$light-gray;
  }
}

/////////////////////////////////
/// STATES - PARENT CLASS ADD ///
/////////////////////////////////

// STATE = with image

.timp-contentcard {
  &.with-image {
    // container
    .timp-contentcard--container {
      position: relative;
    }
    // header
    .timp-contentcard--header {}
    .timp-contentcard--header-text {}
    // label
    .timp-contentcard--label-container {
      position:absolute;
      @include space-inset(m);
      padding-bottom:0;
    }
    .timp-contentcard--label {}
    // image
    .timp-contentcard--image-container {
      display: block;
    }
    .timp-contentcard--image {
      &.timp-icon {}
    }
    // body
    .timp-contentcard--body-container {}
    // title
    .timp-contentcard--title {}
    // description
    .timp-contentcard--description {}
    // button
    .timp-contentcard--button-container {}
    // footer
    .timp-contentcard--footer	{}
    // meta
    .timp-contentcard--metadata	{}
  }
}

// STATE = is clickable

.timp-contentcard {
  &.is-clickable {
    // container
    .timp-contentcard--container {
      box-shadow:0 4px 12px -6px transparent;
      @include transition-mixin(box-shadow 250ms);
      &:hover {
        box-shadow:0 4px 12px -6px #000000;
        cursor:pointer;
      }
    }
    // header
    .timp-contentcard--header {}
    .timp-contentcard--header-text {}
    // label
    .timp-contentcard--label-container {}
    .timp-contentcard--label {}
    // image
    .timp-contentcard--image-container {}
    .timp-contentcard--image {
      &.timp-icon {}
    }
    // body
    .timp-contentcard--body-container {}
    // title
    .timp-contentcard--title {}
    // description
    .timp-contentcard--description {}
    // button
    .timp-contentcard--button-container {}
    // footer
    .timp-contentcard--footer	{}
    // meta
    .timp-contentcard--metadata	{}
  }
}
  ///////////////////
  /// VARIATIONS ////
  ///////////////////

  // Basic
  @import 'variations/timp-contentcard-v--basic';
