//////////////////////
/// BLOCK__ELEMENT ///
//////////////////////

.tp-page-header {
  .tp-page-header--container {
      text-align: center;
  }
  // label
	.tp-page-header--label {
    width:100%;
    display:block;
    border-bottom:1px dotted $medium-gray;
    padding:$space-stack-xs;
    margin:$space-stack-l;
  }
  // image
	.tp-page-header--image-container {
    @include breakpoint(small down) {
      margin:$space-stack-l;
    }
    margin: 0 auto;
  }
	.tp-page-header--image {
    width:100%;
    border-radius: 220px;
    border: 20px solid #f7f7f7;
  }
  // body
	.tp-page-header--body-container {
    position: relative;
    z-index: 10;
  }
	.tp-page-header--title {
    @include space-stack(m);
    line-height:1;
    font-family: $font-family-two;
    font-weight: bold;
    font-size: $global-font-size-xxl * .75;
    color:$secondary-color;
  }
	.tp-page-header--description {
    @include space-stack(l);
    @include breakpoint(small down) {
      @include space-stack(xl);
    }
  }
  .tp-page-header--button-container {
    @include space-stack(l);
  }
  // button
	.tp-page-header--button {
    // display:none;
    float: left;
    clear:both;
    display:block;
    color:$lynch;
    text-decoration: none;
    border-bottom:1px dotted transparent;
    @include space-stack(s);
    @include transition-mixin(border 250ms);
    @include breakpoint(small down) {
      float: none;
    }
  }
  // meta
	.tp-page-header--metadata	{
  }
}

//////////////
/// STATE ////
//////////////

// is clickable
// has image
// image top

.tp-page-header {
    .tp-page-header--container {
      // @include transition-mixin(box-shadow 200ms, border 200ms);
      // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.0);
      &:hover {
          // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
          // border: 1px solid transparent;
          // cursor: pointer;
      }
    }
    // label
    .tp-page-header--label-container {}
    .tp-page-header--label {}
    // image
    .tp-page-header--image-container {}
    .tp-page-header--image {}
    // body
    .tp-page-header--body-container {}
    .tp-page-header--title {}
    .tp-page-header--description {}
    // button
    .tp-page-header--button {
      &:hover {
        border-bottom:1px dotted $lynch;
      }
    }
    // meta
    .tp-page-header--metadata	{}


  // show image
  &.show-image {
    .tp-page-header--container {
      position: relative;
    }
    // label
    .tp-page-header--label-container {
      position:absolute;
      padding:0;
    }
    .tp-page-header--label {}
    // image
    .tp-page-header--image-container {
      display: block;
    }
    .tp-page-header--image {}
    // body
    .tp-page-header--body-container {}
    .tp-page-header--title {}
    .tp-page-header--description {}
    // button
    .tp-page-header--button {}
    // meta
    .tp-page-header--metadata	{}
  }





  // show labels
  &.show-labels {
    .tp-page-header--container {}
    // label
    .tp-page-header--label-container {}
    .tp-page-header--label {}
    // image
    .tp-page-header--image-container {}
    .tp-page-header--image {}
    // body
    .tp-page-header--body-container {}
    .tp-page-header--title {}
    .tp-page-header--description {}
    // button
    .tp-page-header--button {}
    // meta
    .tp-page-header--metadata	{}
  }
}

//////////////
/// THEME ////
//////////////

.tp-page-header {
  &.modification-class {
    .tp-page-header--container {}
    // label
    .tp-page-header--label-container {}
    .tp-page-header--label {}
    // image
    .tp-page-header--image-container {}
    .tp-page-header--image {}
    // body
    .tp-page-header--body-container {}
    .tp-page-header--title {}
    .tp-page-header--description {}
    // button
    .tp-page-header--button {}
    // meta
    .tp-page-header--metadata	{}
  }
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////IE10+ specific styles go here //////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
// NOTES: @extend is not supported within {media} ////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}

////////////////////////
/// IE MEDIA QUERIES ///
////////////////////////

@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @media only screen and (max-width: 1024px) and (min-width: 641px) {}
    @media only screen and (max-width: 640px) {}
}
