//////////////////////
/// BLOCK__ELEMENT ///
//////////////////////

.tp-audio-block {
  // @extend .clearfix;
  .tp-audio-block--container {
    background-color:$complimentary-color;
    position: relative;
    overflow:hidden;
    text-align: center;
    padding:$space-xxxl 0;
    margin:0;
    &.tp-bg-image {
      &:after {
        content: "";
        background-image: url('img/callout/ireland.jpg');
        background-size: cover;
        opacity: 0.25;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
      }
    }
    @include breakpoint(small down) {
      padding:$space-xl 0;
    }
    @include breakpoint(medium) {
      padding:$space-xxl 0;
    }
    @include breakpoint(large up) {
      padding:$space-xxxl 0;
    }
  }
  // image
	.tp-audio-block--image-container {
    // position: absolute;
    // top:0;
    // left:0;
    // right:0;
    // margin:0 auto;
    // z-index:1;
    display: none;
  }
	.tp-audio-block--image {
    // width:100%;
    // opacity: .25;
  }
  // body
	.tp-audio-block--body-container {
    z-index:2;
    position: relative;
    margin:0 auto;
    color: $white;
    @include breakpoint(small down) {
      width:80%;
    }
    @include breakpoint(medium) {
      width:60%;
    }
    @include breakpoint(large up) {
      width:40%;
    }
  }
  // label
  .tp-audio-block--label {

  }
	.tp-audio-block--title {
    font-size: $global-font-size-xxl;
    font-family: $font-family-two;
  }
	.tp-audio-block--description {
    a {
      color:$white;
      font-weight: bold;
      line-height:1;
      border-bottom:1px solid transparent;
      display:inline-block;
      margin:0;
      padding:0;
      @include transition-mixin(border $trans-speed-rapid);
      &:hover {
        border-bottom:1px solid $white;
      }
    }
  }
  .tp-audio-block--embed-container {
    z-index:2;
    position: relative;
    margin:0 auto;
    padding-top:$space-m;
    @include breakpoint(small down) {
      width:80%;
    }
    @include breakpoint(medium) {
      width:60%;
    }
    @include breakpoint(large up) {
      width:30%;
    }
  }
}

//////////////////////
/// THEME - SMALL ////
//////////////////////

.tp-audio-block {
  &.tp-audio-block_small {
    .tp-audio-block--container {
      background-color:transparent;
      position: relative;
      overflow:hidden;
      text-align: center;
      padding:$space-l 0;
      width:80%;
      margin:0 auto;
    }
    // image
    .tp-audio-block--image-container {
      position: absolute;
      top:0;
      left:0;
      right:0;
      margin:0 auto;
      z-index:1;
    }
    .tp-audio-block--image {
      width:100%;
      opacity: .25;
      display: none;
    }
    // body
    .tp-audio-block--body-container {
      z-index:2;
      position: relative;
      width:50%;
      margin:0 0;
      float: left;
      text-align: right;
      // color: $white;
      color:$secondary-color;
      padding:$space-l;
      @include breakpoint(medium down) {
        width:100%;
        float: none;
        text-align: center;
        padding-bottom: 0;
        padding:0;
      }
    }
    // label
    .tp-audio-block--label {

    }
    .tp-audio-block--title {
      font-size: $global-font-size-xl;
      font-family: $font-family-two;
    }
    .tp-audio-block--description {
    }
    .tp-audio-block--embed-container {
      z-index:2;
      position: relative;
      margin:0 0;
      float: right;
      width:50%;
      padding:$space-l $space-l $space-l 0;
      @include breakpoint(medium down) {
        width:100%;
        float: none;
        padding:0;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////IE10+ specific styles go here //////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
// NOTES: @extend is not supported within {media} ////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}

////////////////////////
/// IE MEDIA QUERIES ///
////////////////////////

@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @media only screen and (max-width: 1024px) and (min-width: 641px) {}
    @media only screen and (max-width: 640px) {}
}
