//////////////////////
/// BLOCK__ELEMENT ///
//////////////////////
.tp-leadin-block {
  .tp-leadin-block--container {
      text-align: center;
      padding: $space-l;
      border-radius:3px;
      height:auto;
  }
  // label
	.tp-leadin-block--label {
    width:100%;
    display:block;
    border-bottom:1px dotted $medium-gray;
    padding:$space-stack-xs;
    margin:$space-stack-l;
  }
  // image
	.tp-leadin-block--image-container {
    margin: 0 auto;
    width:$media-block-image-size;
    height:$media-block-image-size;
    margin: 0 auto;
    border-radius: 220px;
    border: 20px solid $bar-color;
    overflow: hidden;
    @include transition-mixin(transform $trans-speed);
  }
	.tp-leadin-block--image {
    width: 100%;
    display: block;
  }
  // body
	.tp-leadin-block--body-container {
    position: relative;
    z-index: 10;
  }
	.tp-leadin-block--title {
    @include space-stack(m);
    line-height:1;
    font-family: $font-family-two;
    font-size: $global-font-size-l * 1.25;
    color:$secondary-color;
  }
	.tp-leadin-block--description {
    @include space-stack(l);
    @include breakpoint(small down) {
      @include space-stack(xl);
    }
  }
  .tp-leadin-block--cta {
    margin-bottom:0;
    padding:$space-m $space-l;
    border-radius:3px;
    border:1px solid #ececec;
  }
  .tp-leadin-block--button-container {
    @include space-stack(l);
  }
  // button
	.tp-leadin-block--button {
    // display:none;
    display:block;
    color:$lynch;
    text-decoration: none;
    border-bottom:1px dotted transparent;
    @include space-stack(s);
    @include transition-mixin(border 250ms);
    @include breakpoint(small down) {
      float: none;
    }
  }
  // meta
	.tp-leadin-block--metadata	{
  }
}

//////////////
/// STATE ////
//////////////


.tp-leadin-block {
    .tp-leadin-block--container {
      position: relative;

      @include transition-mixin(box-shadow $trans-speed, border $trans-speed, background-color $trans-speed);
      box-shadow: 0px 2px 20px -4px rgba(0,0,0,0.0);
      .tp-leadin-block--image,
      .tp-leadin-block--image-container,
      .tp-leadin-block--title,
      .tp-leadin-block--description {
        @include transition-mixin(margin $trans-speed, border-color $trans-speed, color $trans-speed);
      }
      &:hover {
        box-shadow: 0px 2px 30px -8px rgba(0,0,0,0.5);
        cursor: pointer;
        background-color:$secondary-color;
        // image
        .tp-leadin-block--image-container {
          border-color:$secondary-color-dark;
        }
        .tp-leadin-block--image {
        }
        // body
        .tp-leadin-block--body-container {}
        .tp-leadin-block--title {
          color:$white;
        }
        .tp-leadin-block--description {
          color:$white;
        }
        // button
        // meta
      }
    }
}

/////////////////////////
/// THEME NEW WINDOW ////
/////////////////////////

.tp-leadin-block {
  &.tp-leadin-block_new-window {
    .tp-leadin-block--container {
      &:after {
        content:'';
        display: block;
        width:30px;
        height:30px;
        left:0;
        right:0;
        margin:0 auto;
        position: absolute;
        opacity:0;
        bottom:0;
        background-image: url('img/icons/open-new-white.svg');
        @include transition-mixin(opacity $trans-speed, bottom $trans-speed-rapid);
      }
      &:hover {
        &:after {
          opacity:1;
          bottom:25px;
        }
      }
    }
    // label
    .tp-leadin-block--label-container {}
    .tp-leadin-block--label {}
    // image
    .tp-leadin-block--image-container {}
    .tp-leadin-block--image {}
    // body
    .tp-leadin-block--body-container {}
    .tp-leadin-block--title {}
    .tp-leadin-block--description {}
    // button
    .tp-leadin-block--button {}
    // meta
    .tp-leadin-block--metadata	{}
  }
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////IE10+ specific styles go here //////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////
// NOTES: @extend is not supported within {media} ////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}

////////////////////////
/// IE MEDIA QUERIES ///
////////////////////////

@media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @media only screen and (max-width: 1024px) and (min-width: 641px) {}
    @media only screen and (max-width: 640px) {}
}
