{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Timprovise is a gallery of work created by Tim Schletter. Tim's work includes both visual and audio creations. Visit timprovise.com to see and hear neat-o stuff!"/>
    <title>{{meta-title}}</title>
    <link rel="stylesheet" href="{{root}}assets/app.css">

    <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon">

  </head>
  <body>
    <nav>
    {{> main-navigation}}
    </nav>
    <main style="max-width: 800px; margin: 0 auto;">    
    {{> body}}
    <!-- pull in from pages -->
    <footer>
      <div class="tp-secondary-nav" id="tpSecondaryNav">
        <ul class="tp-secondary-nav--list">
          <li class="tp-secondary-nav--list-item">
            <a target="_blank" href="//www.linkedin.com/in/schletter" class="tp-secondary-nav--list-anchor linkedin-icon">linkedin</a>
          </li>
          <li class="tp-secondary-nav--list-item">
            <a target="_blank" href="//bl.ocks.org/timproDev" class="tp-secondary-nav--list-anchor d3-icon">bl.ocks</a>
          </li>
          <li class="tp-secondary-nav--list-item">
            <a target="_blank" href="//dribbble.com/timprovise" class="tp-secondary-nav--list-anchor dribbble-icon">dribbble</a>
          </li>
          <li class="tp-secondary-nav--list-item">
            <a target="_blank" href="//www.mixcloud.com/timprovise/uploads/" class="tp-secondary-nav--list-anchor mixcloud-icon">mixcloud</a>
          </li>
          <li class="tp-secondary-nav--list-item">
            <a target="_blank" href="//soundcloud.com/timschletter" class="tp-secondary-nav--list-anchor soundcloud-icon">soundcloud</a>
          </li>
        </ul>
      </div>
    </footer>
    </main>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
