<div class="grid-container mx-ds-frame">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
            <div class="mx-ds-frame-label">
              <p>Full Grid</p>
              </div>
            </div>
        </div>
    </div>
</div>
{{> full-grid}}
<div class="grid-container mx-ds-frame">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
            <div class="mx-ds-frame-label">
              <p>Full-Grid : Split 9 / 3</p>
              </div>
            </div>
        </div>
    </div>
</div>
{{> nine-three}}
<div class="grid-container mx-ds-frame">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
            <div class="mx-ds-frame-label">
              <p>Full-Grid : Split 3 / 9</p>
              </div>
            </div>
        </div>
    </div>
</div>
{{> three-nine}}
<div class="grid-container mx-ds-frame">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
            <div class="mx-ds-frame-label">
              <p>Full-Grid : Center 8</p>
              </div>
            </div>
        </div>
    </div>
</div>
{{> center-eight}}
<div class="grid-container mx-ds-frame">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
            <div class="mx-ds-frame-label">
              <p>Full-Grid : 2 Across</p>
              </div>
            </div>
        </div>
    </div>
</div>
{{> two-X}}
<div class="grid-container mx-ds-frame">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
            <div class="mx-ds-frame-label">
              <p>Full-Grid : 3 Across</p>
              </div>
            </div>
        </div>
    </div>
</div>
{{> three-X}}
<div class="grid-container mx-ds-frame">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
            <div class="mx-ds-frame-label">
              <p>Full-Grid : 4 Across</p>
              </div>
            </div>
        </div>
    </div>
</div>
{{> four-X}}
<div class="grid-container mx-ds-frame">
    <div class="grid-x grid-margin-x">
        <div class="large-12 cell">
            <div class="mx-ds-frame-label">
              <p>Full-Grid : Split 9 / 3 + 3 Across</p>
              </div>
            </div>
        </div>
    </div>
</div>
{{> nested-nine-three-w-three-X}}
